<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:contex="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--包自动扫描-->
    <contex:component-scan base-package="com.test">

    </contex:component-scan>

    <!--注解驱动不可引错命名空间：xmlns:mvc="http://www.springframework.org/schema/mvc"-->
    <mvc:annotation-driven>

    </mvc:annotation-driven>
    <!--视图解析-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">

        <!--在web-inf在找-->
        <!--<property name="prefix" value="/webapp/WEB-INF/"></property>-->
        <!--从根目录开始找-->
        <property name="prefix" value="/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
</beans>
